<article class="company {{ bemMix }}">
	{% if isHeading %}
		<h2 class="company__heading">{{ companyHeading }}</h2>
	{% endif %}

	{% set picture = {
    image: photo.image,
    alt: photo.imageText,
    ext: photo.ext,
		width: photo.width,
    height: photo.height
  } %}

	<div class="company__wrapper">
		{% include 'picture.twig' %}
	</div>

	{% for company in companies %}
		<p class="company__description">{{ company.description }}</p>

		<a class="company__button" href="{{ company.id }}:{{ company.value }}">
			{{ company.text }}
		</a>
	{% endfor %}
</article>
