<div class="nav {{ bemMix }}">
	<h2 class="nav__heading">{{ heading }}</h2>

	<button class="nav__toggler" type="button" aria-controls="nav-{{ id }}" aria-expanded="{{ expanded ? 'true' : false }}" data-nojs>
		<span class="visually-hidden">{{ navTogglerText }}</span>
	</button>

	<ul class="nav__list" id="nav-{{ id }}">
		{% for item in list %}
			<li class="nav__item">
				<a class="nav__link" href="{{ item.url }}">{{ item.title }}</a>
			</li>
		{% endfor %}
	</ul>

</div>
