<div class="promo {{ bemMix }}">
	<h2 class="promo__heading">{{ promoHeading }}</h2>

	<p class="promo__text">{{ promoText }}</p>

	<a class="promo__button" href="{{ promo.url }}">{{ promo.title }}</a>
</div>
