<div class="promo {{ mix }}">
	<h1 class="promo__heading">{{ promoHeading }}</h1>

	<p class="promo__text">{{ promoText }}</p>

	<a class="promo__button" href="{{ promo.url }}">{{ promo.title }}</a>
</div>
